table{
	border-collapse: collapse;
	text-align:center;
}
table th,table td{
	border: solid 1px #000;
	margin:2em 2em 2em 2em;
}
.content_box{
	position:absolute;
	top:0;
	left:30%;
	box-shadow:4px 4px 4px 4px #aaa;
	min-height:100vh;
	width:40%;
}

.content{
	margin:2em 2em 2em 2em;
}
