/* font */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" );

/* 基本 */
body{
	margin: 0px 0px 0px 0px;
	background-image:url("../img/sample_img.jpg");
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}
li{
	list-style:none;
	padding:10px;
}


table {
border-collapse: separate;
border-spacing: 10px;
}

/* ヘッダ2の登場に使う */
@keyframes MoveHeader{
	0%{
		left:30%;
		opacity:0;
	}
	100%{
		left:0%;
		opacity:1;
	}
}
h2{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
	position:relative;
	animation-name:"MoveHeader";
	animation-fill-mode:forwards;
	animation-duration:1.5s;

	font-family: 'Noto Serif JP', serif;
}
a {
	color:inherit;
	text-decoration:none;
}
li a {
	color:inherit;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: rgba(255,105,180,1);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
li a:hover::after {
  transform: scale(1, 1);
}

/* フッター関連 */
footer{
	font-size:20px;
	color:rgba(169,169,169,1);
	position:relative;
	display:flex;
	flex-direction :row;
	justify-content:space-between;
	width :100%;
	background-color:#000;
	box-sizing:border-box;
	padding:2rem 3% 1rem;

}
.footer-row{
	display:flex;
	flex-direction:row;
}
/* ヘッダー関連 */
header{
	margin: 0px 0px 0px 0px;
	position:fixed;
	width:100%;
	height:15%;
	min-height:50px;
	z-index:100;
	background-color:#fff;
}


.header_dummy{
	height:15%;
	min-height:50px;
	width:100%;
}

.header_content{
	padding:0px 0px 0px 0px;
	width:100%;
	height:40%;
}

/* ロゴの表示に使う */
.header_home{
	font-size:20px;
	position:absolute;
	left:30%;
}

/* ログイン登録表示用ボックス */
.sign_link{
	position:absolute;
	right:10%;
	display:flex;
	flex-direction:row;
}
	
.sign_up_header{
}
.sign_in_header{
}
/* ヘッダ2段目リンク置き場 */
.header_link{
	background-color:;
	position:relative;
	display:flex;
	height:20%;
	left:30%;
	flex-direction:row;
}

/* コンテンツ記述用 */
.content_page{
	position:relative;
	min-height:100vh;
	width:100%;
	background-color:#fff;
	padding:40px 0px 0px 0px;

}
.content{
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
	position:relative;
	left:30%;
	width:40%;
	min-height:100px;
	max-width:50%;
	padding:4em 2em 2em 2em;
}

@keyframes MovContent{
	0%{
		opacity:0;
		left:40%;
	}
	100%{
		opacity:1;
		left:0;
	}
}

.content_text{
	position:relative;
	animation-name:"MovContent";
	animation-fill-mode:forwards;
	animation-duration:1.9s;
}
/* アイテム */
.empty_box{
	width:100%;
	height:60%;
}

.empty_text{
	width:100%;
	height:6em;
}

/* 個別スタイル */
.login_box{
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
	position:relative;
	top:10%;
	left:30%;
	width:40%;
	min-height:100px;
	max-width:50%;

}

/* ログイン表示用Header */
@keyframes MovHeader1{
	0%{
		opacity:0;
		left:30%;
	}
	100%{
		opacity:1;
		left:0%;
	}
}
.h1_obj{
	position:relative;
	animation-name:"MovHeader1";
	animation-fill-mode:forwards;
	animation-duration:1.2s;

}
h1 {
	font-family: 'Noto Serif JP', serif;

  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
	width:99%;
  color: white;
	left:-20px;
}

h1::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0px;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

/* ログイン用 */
.login_content{
	padding:10px 10px 10px 10px;
}

